/* css variáveis */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');

:root {

	--Josefin: 'Josefin+Sans', sans-serif;
	--jua: 'Jua', sans-serif;
	--amarelo: rgb(240, 139, 6);
	--grad: linear-gradient(to right top, #c43131, #b03b3b, #973b3b, #793535, #181C24);
	--vermelhim: rgb(255, 1, 1);
}